{% extends "../base.html" %}
{% load static %}
{% load humanize %}
{% block contents %}
    <div class="content">
      <div class="dashboard">
        <div class="row">
          <div class="col-md-12">
            <div class="general-stat d-flex">
              <h3>{% ifequal profit 0 %}Profit{% endifequal %}{% if profit > 0 %}Profit{% else %}Loss{% endif %}:</h3>
              <p>{% ifequal profit 0 %}0.00/={% endifequal %}{% if profit > 0 %}{{profit|intcomma}}/={% elif loss %}{{loss|intcomma}}/={% endif %}</p>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 mt-3">
            <div class="stat-box">
              <div class="stat">
                <h3>Total operating cost:</h3>
                <p>{% if purchase_total.amount__sum %}{{purchase_total.amount__sum|intcomma}}/={% else %}0.00/={% endif %}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <div class="stat-box">
              <div class="stat">
                <h3>Amount received:</h3>
                <p>{% if offered_total.amount__sum %}{{offered_total.amount__sum|intcomma}}/={% else %}0.00/={% endif %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
