{% extends "../base.html" %}
{% load static %}
{% load humanize %}
{% block contents %}
    <div class="content">
        <!-- <div class="home-link">
            <a href="{% url 'home' %}">Back to Home</a>
        </div> -->
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Service form
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse {% if update %}show{% endif %}" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="form p-4">
                   <form action="" method="post">
                       {% csrf_token %}
                       <div class="form-group">
                           {{ form }}
                       </div>
                       <div class="form-group">
                           <button type="submit">{% if not update %}Add service{% else %}Edit service{% endif %}</button>
                       </div>
                   </form>
               </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Services list
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse {% if not update %}show{% endif %}" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="p-4">
                <div class="table-content table-responsive">
                  <table class="table table-striped" id="table_id">
                    <thead>
                      <tr>
                        <th>S/NO</th>
                        <th>Service name</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for p in services %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.amount }}</td>
                        <td>{{ p.date| naturalday }}</td>
                        <td>
                          <a href="{% url 'editService' p.id %}" class="btn btn-outline-primary"><i class="fas fa-edit"></i></a>
                          <a href="{% url 'deleteService' p.id %}" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                        </td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td colspan="4" style="color:red;font-weight:600;text-align:center;">No services added yet</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#table_id').DataTable({

    });
  });
</script>
{% endblock %}
